<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title id="title">Twidder</title>

    <link href="../static/client.css" type="text/css" rel="stylesheet">

    <link href="../static/welcomeview.css" type="text/css" rel="stylesheet">
    <link href="../static/profileview.css" type="text/css" rel="stylesheet">

    <link href="../static/home.css" type="text/css" rel="stylesheet">
    <link href="../static/browse.css" type="text/css" rel="stylesheet">
    <link href="../static/account.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/client.js" type="text/javascript"></script>
    <script src="../static/serverstub.js" type="text/javascript"></script>
    <script type="text/view" id="modalview">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="x-btn">&times;</span>
                <h2 id="modal-header-text">Modal Header</h2>
            </div>
            <div class="modal-body">
                <p id="modal-body-text">Some text in the Modal Body</p>
            </div>
            <div class="modal-footer">
                <button id="close-modal">Close</button>
            </div>
        </div>
    </script>
    <script type="text/view" id="welcomeview">
        <div id="logo" class="bordered">
            <img src="../static/assets/img/wimage2.png>
        </div>

        <div id="login" class="bordered">
            <h3 class="header">Login</h3>
            <form id="login-form" onsubmit="submitLogin(); return false;" autocomplete="off">
                <label class="input-label" for="login-email">Email address</label>
                <input id="login-email" type="email" placeholder="Email" required/>

                <label class="input-label" for="login-pw">Password</label class="input-label">
                <input id="login-pw" type="password" placeholder="Password" required/>

                <input id="login-btn" type="submit" value="Login" class="special-input">
            </form>
        </div>

        <div id="signup" class="bordered">
            <h3 class="header" id="signup-header">Signup</h3>
            <form id="signup-form" onsubmit="submitSignup(); return false;" autocomplete="off">
                <label class="input-label" for="email">Email address</label>
                <input id="email" type="email" placeholder="Email" required/>

                <label class="input-label" for="username">Username</label class="input-label">
                <input id="username" placeholder="Username" required/>

                <label class="input-label" for="pw">Password</label class="input-label">
                <input id="pw" type="password" placeholder="Password" minlength=8
                required/>

                <label class="input-label" for="pw-repeat">Repeat password</label class="input-label">
                <input id="pw-repeat" type="password" placeholder="Password" minlength=8
                required oninput="checkPasswords(this, document.getElementById('pw'))"/>

                <label class="input-label" for="first-name">First name</label class="input-label">
                <input id="first-name"placeholder="First name" required/>

                <label class="input-label" for="family-name">Family name</label class="input-label">
                <input id="family-name" placeholder="Family name" required/>

                <label class="input-label" for="city">City</label class="input-label">
                <input id="city" placeholder="City" required/>

                <label class="input-label" for="country">Country</label class="input-label">
                <input id="country" placeholder="Country" required/>

                <label for="gender" class="input-label">Gender</label>
                <select id="gender" class="special-input">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <input id="signup-btn" type="submit" value="Signup" class="special-input">
            </form>
        </div>
    </script>
    <script type="test/view" id="user-info">
        <div class="profile-info">
            <h2 id="browse-profile-header">Profile</h2>
            <div>
                <img src="../static/assets/img/profile-icon.png">
            </div>
            <table id="browse-pi-table">
                <tr class="pi-data">
                    <td id="browse-pi-name"></td>
                </tr>
                <tr class="pi-data">
                    <td id="browse-pi-uname"></td>
                </tr>
                <tr class="pi-data secondary-info">

                    <td id="browse-pi-location">
                        <i class="fa fa-map-marker"></i>
                    </td>
                    <td id="browse-pi-gender">
                        <i class="fa fa-venus-mars"></i>
                    </td>
                </tr>
            </table>
        </div>

        <div class="tweed-box">
            <form id="browse-tweed-form"
            onsubmit="tweed(this.firstElementChild.value, false); return false;"
            autocomplete="off">
                <textarea id="browse-tweed-msg" placeholder="Write your tweed here..." class="message"/></textarea>
                <br>
                <input type="submit" value="Tweed" class="special-input tweed-btn">
            </form>

        </div>

        <div class="msg-wall">
            <button class="update-wall-btn"
            onclick="updateWall(document.getElementById('browse-pi-uname').innerHTML)">
            Update tweeds
            </button>

            <div id="browse-messages" class="message-grid">
                <textarea readonly class="message"/>Update to show tweeds</textarea>
            </div>
        </div>
    </script>
    <script type="text/view" id="browse-std">
        <div id="user-search">
            <h2 id="browse-header">Search for a user</h2>
            <form id="user-search-form" onsubmit="findUser(); return false" autocomplete="off">
                <input id="find-user" type="email" placeholder="Example@mail.com" required >
                <input id="find-user-btn" type="submit" value="Find user" class="special-input">
            </form>
        </div>
    </script>
    <script type="text/view" id="logged-in">
        <div id="tabs">
            <button class="tablink" onclick="openTab('Home', this)"  id="default-tab">Home</button>
            <button class="tablink" onclick="openTab('Browse', this)">Browse</button>
            <button class="tablink" onclick="openTab('Account', this)" >Acccount</button>
            <button class="tablink" onclick="signOut()" id="signout-tab">Sign out</button>
        </div>

        <div id="Home" class="tabcontent">
            <div class="profile-info">
                <h2 id="profile-header">Your Profile</h2>
                <div>
                    <img src="../static/assets/img/profile-icon.png">
                </div>
                <table id="pi-table">
                    <tr class="pi-data">
                        <td id="pi-name"></td>
                    </tr>
                    <tr class="pi-data">
                        <td id="pi-uname"></td>
                    </tr>
                    <tr class="pi-data secondary-info">

                        <td id="pi-location">
                            <i class="fa fa-map-marker"></i>
                        </td>
                        <td id="pi-gender">
                            <i class="fa fa-venus-mars"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tweed-box">
                <form id="tweed-form" autocomplete="off"
                onsubmit="tweed(this.firstElementChild.value, true); return false;" >
                    <textarea id="tweed-msg" placeholder="Write your tweed here..." class="message"/></textarea>
                    <br>
                    <input type="submit" value="Tweed" class="special-input tweed-btn">
                </form>

            </div>

            <div class="msg-wall">
                <button class="update-wall-btn" onclick="updateWall()" >Update tweeds</button>

                <div id="messages" class="message-grid">
                    <textarea readonly class="message"/>Update to show your tweeds</textarea>
                </div>
            </div>
        </div>

        <div id="Browse" class="tabcontent">

        </div>

        <div id="Account" class="tabcontent">
            <div id="change-pw">
                <h3 id="change-pw-header">Change password</h3>
                <form id="pw-form" onsubmit="changePassword(); return false;" autocomplete="off">
                    <label class="input-label" for="old-pw">Old password</label class="input-label">
                    <input id="old-pw" type="password" placeholder="Password" required/>

                    <label class="input-label" for="pw">New password</label class="input-label">
                    <input id="new-pw" type="password" placeholder="Password" minlength=8
                    required/>

                    <label class="input-label" for="pw-repeat">Repeat new password</label class="input-label">
                    <input id="new-pw-repeat" type="password" placeholder="Password" minlength=8
                    required oninput="checkPasswords(this, document.getElementById('new-pw'))"/>

                    <input id="change-pw-btn" type="submit" value="Change password"
                    class="special-input">
                </form>
            </div>



            <button id="signout-btn" onclick=signOut()>Sign out</button>


        </div>
    </script>
</head>
<body>
    <div id="modal-window" class="modal"></div>
    <div id="login-screen"></div>
    <div id="logged-in-screen"></div>

    <div class="ad">
        <a href="https://join.nordvpn.com/" target="_blank">
            <img src="https://whichvpn.org/reviews/images/nordvpn-internet-security-privacy.png"
            width="600" />
        </a>
    </div>


</body>
</html>
