/* Style tab links */
.tablink {
    background-color: inherit;
    color: whitesmoke;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100px;

    border-collapse: collapse;
    margin: auto;
    user-select: none;
}

.tablink:hover {
    background-color: #004c68;
}

  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: whitesmoke;
    background-color: rgb(21, 32, 43);
    display: none;
    padding: 50px 20px;
}

#tabs {
    width: 100%;
    height: fit-content;
    background-color: #008abe;
    position: sticky;
    top:0;
    left: 0;
    border-bottom: 1px solid  rgb(21, 32, 43);
    ;
}

#profile-screen {
    height: fit-content;
    margin: 0;
    font-family: Arial;
}

#signout-tab {
    float: right;
}