#signout-btn {
    font-size: large;
    padding: 5px 20px;
    float: left;
    margin-left: 15px;
    margin-top: 50px;
}

#change-pw {
    align-content: center;
    width: 250px;
    margin-top: 5px;
    margin-left: 5px;

    overflow-y: auto;
}

#change-pw-header {
    margin-left: 10px;
}