/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-content {
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #004c68;
    color: whitesmoke;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Modal Header */
.modal-header {
    background-color: inherit;
    color: inherit;
    margin: inherit;
    width: 400px;
    padding: 2px 16px;

}

/* Modal Body */
.modal-body {
    background-color: inherit;
    margin: inherit;
    width: 400px;
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    background-color: inherit;
    color: inherit;
    margin: inherit;
    width: 400px;
    padding: 2px 16px;
    overflow: auto;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.debug {
    outline: 2px solid black;
    outline-offset: -5px;
}

.bordered {
    outline: 2px solid lightgrey;
    outline-offset: -2px;
}

.header {
    top: 5px;
    text-align: center;
}

.input-label {
    margin: 5px;
    left: 0px;
    margin-left: 11px;
}

.submit-div {
    padding-top: 5px;
    padding-left: 0px;
    width: 80px;
    margin: auto;
}


/* Style tab links */
.tablink {
    background-color: inherit;
    color: whitesmoke;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100px;

    border-collapse: collapse;
    margin: auto;
    user-select: none;
}

.tablink:hover {
    background-color: #004c68;
}

  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: whitesmoke;
    background-color: rgb(21, 32, 43);
    display: none;
    padding: 100px 20px;
}

button {
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: #008abe;
    color: whitesmoke;
}

body {
    background-color: rgb(21, 32, 43);
    margin: 0;
}

div {
    background-color: rgb(21, 32, 43);
    color: whitesmoke;
}

input {
    background-color: #008abe;
    color: whitesmoke;
    border-radius: 5px;
    border: solid black 1px;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 200px;
}

select {
    background-color: #008abe;
    color: whitesmoke;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
}

#login-screen {
    max-width: 600px;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    display: block;
    max-height: 400px;
}

#genderlabel {
    margin: 5px;
    left: 0px;
    padding-left: 10px;
}

#logo {
    align-content: center;
    height: 400px;
    width: 340px;
    margin-right: 5px;
    float: left;
}

#login {
    width: 250px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
    max-height: 195px;
}

#signup {
    align-content: center;
    width: 250px;
    margin-top: 5px;
    margin-left: 5px;
    float: right;

    max-height: 205px;

    overflow-y: auto;
}

#signup-form {
    margin-bottom: 0px;
}

#close-modal {
    float: right;
}

#profile-screen {
    height: fit-content;
    margin: 0;
    font-family: Arial;
}

#tabs {
    width: 100%;
    height: fit-content;
    background-color: #008abe;
    position: absolute;
    top:0;
    left: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
  }